<header class="navigation sw">
    <div class="company">
        <!-- <img class="logo" src="./assets/img/small-line-logo.svg" alt=""> -->
        <h2 class="title">Brypt</h2>
    </div>
    <nav class="primary nv-m hd-m">
        <div class="cover">
            <div class="toggle" id="menu-toggle"><span></span></div>
        </div>
        <div class="menu drsw sc">
            <ul class="sc mi">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Profile</a>
                </li>
                <li>
                    <a href="#">Settings</a>
                </li>
                <li>
                    <a href="#">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main class="">
    <div class="wrapper">
        <div id="flg-mesg" class="flash">

        </div>
        <article id="network">
            <section id="user">
                <div class="context">
                    <!-- <img src="" alt=""> -->
                    <div class="icon">
                        <i class="fas fa-user-astronaut"></i>
                    </div>
                    <div class="info">
                        <h4>Hello, <span id="name">User</span>!</h4>
                        <!-- <p id="net-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et ultrices neque ornare aenean euismod elementum nisi.</p> -->
                    </div>
                </div>
            </section>
            <section id="clusters">
                <cluster-context></cluster-context>
            </section>
        </article>
        <article id="data">
            <section id="chart">

            </section>
            <section id="overview">
                <div id="avg-read" class="ov-badge">

                </div>
                <div id="at-rate" class="ov-badge">

                </div>
            </section>
            <section id="stats">
                <div id="cl-count" class="st-badge">

                </div>
                <div id="tc-count" class="st-badge">

                </div>
                <div id="up-time" class="st-badge">

                </div>
            </section>
        </article>
    </div>
</main>

<footer>

</footer>

<div class="overlay nd nv"></div>

<!-- Templates -->
<script type="text/x-template" id="spinner-template">
    <div class="loader">
        <div class="context">
            <div class="spinner">
                <svg width="10px" height="10px" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                    <circle fill="color" cx="5" cy="5" r="5"></circle>
                </svg>
                <svg width="10px" height="10px" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                    <circle fill="color" cx="5" cy="5" r="5"></circle></svg>
                <svg width="10px" height="10px" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                    <circle fill="color" cx="5" cy="5" r="5"></circle>
                </svg>
            </div>
        </div>
    </div>
</script>
<script type="text/x-template" id="ctx-menu-template">
    <div class="item-ctx-menu" v-bind:id="id" v-click-outside="onClickOutside">
        <ul v-if="itemIsBranching">
            <li class="option" v-for="option in branchOptions" @click="optionClicked(option)">
                \{{ option.name }}
            </li>
        </ul>
        <ul v-else>
            <li class="option" v-for="option in leafOptions" @click="optionClicked(option)">
                \{{ option.name }}
            </li>
        </ul>
    </div>
</script>
<script type="text/x-template" id="node-template">
    <!-- <div class="nd-item" v-bind:class="{ warning: irregular }" @click.prevent.stop="handleClick($event, node)"> -->
    <div class="nd-item" v-bind:class="{ warning: irregular }" @click.prevent.stop="handleClick($event, node)">
        <div class="header">
            <div class="icon"><i class="fas fa-atom"></i></div>
            <h4><span class="dim">{{ zeroPad }}</span>{{ node.id }}</h4>
        </div>
        <div class="content">
            <div class="col">
                <p class="label">Designation</p>
                <p class="data">\{{ node.designation }}</p>
            </div>
            <div class="col">
                <p class="label">Communication Technologies</p>
                <p class="data">\{{ node.comm_techs | arrayToString }}</p>
            </div>
            <div class="col">
                <p class="label">Irregularity Rate</p>
                <p class="data">\{{ node.ireg_rate }}</p>
            </div>
            <div class="col">
                <p class="label">Date Added</p>
                <p class="data">\{{ node.add_timestamp | toTimeString }}</p>
            </div>
        </div>
        <div class="footer">
            <button class="sc" type="button" name="expand">
                <i class="fas fa-ellipsis-v"></i>
            </button>
        </div>
    </div>
</script>
<script type="text/x-template" id="ng-template">
        <div v-bind:id="id" class="nd-container" v-bind:style="{ minHeight: containerHeight + 'px' }">
            <h4>\{{ title }}</h4>
            <transition name="fade" appear mode="out-in">
                <spinner v-if="ui.loading" v-bind:color="'#2D383C'"></spinner>
                <div v-else class="nd-group" v-bind:style="{ minHeight: groupHeight + 'px' }">
                    <node-item
                         v-for="(node, index) in nodes"
                         v-bind:key="node.id"
                         v-bind:node="node"
                         v-bind:class="{last: index == nodes.length - 1}">
                    </node-item>
                </div>
            </transition>
        </div>
</script>
<script type="text/x-template" id="detail-template">
    <transition name="pop-open">
        <div v-bind:id="id" v-if="show" v-click-outside="onClickOutside">
            <div class="context">
                <div class="header">
                    <div class="indentification">
                        <h3>Node: <span id="deviceID"><span class="dim">{{ zeroPad }}</span>{{ node.id }}</span></h3>
                        <p class="data">Designation: <span>\{{ node.designation }}</span></p>
                    </div>
                    <div class="updated">
                        <p class="data">Last Update: <span>\{{ node.update_timestamp | toTimeString }}</span></p>
                    </div>
                </div>
                <div class="content">
                    <div class="details">
                        <div class="col">
                            <p class="data">Et ultrices neque ornare aenean euismod elementum nisi.</p>
                            <p class="label">Description</p>
                        </div>
                        <div class="col">
                            <p class="data">\{{ node.cluster }}</p>
                            <p class="label">Cluster</p>
                        </div>
                        <div class="col">
                            <p class="data">\{{ node.neighbor_count }}</p>
                            <p class="label">Neighbors</p>
                        </div>
                        <div class="col">
                            <p class="data">\{{ node.comm_techs | arrayToString }}</p>
                            <p class="label">Communication Technologies</p>
                        </div>
                        <div class="col">
                            <p class="data">\{{ node.add_timestamp | toTimeString }}</p>
                            <p class="label">Date Added</p>
                        </div>
                    </div>
                    <div class="stats">
                        <div class="col">
                            <p class="data" v-bind:class="{ warning: irregular }">\{{ node.ireg_rate | toPercentage }}</p>
                            <p class="label">Irregularity Rate</p>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <button class="danger" type="button" name="delete" v-on:click="removeDevice">
                        <h4>Remove Device</h4>
                    </button>
                    <button class="" type="button" name="edit" v-on:click="editDevice">
                        <h4>Edit Details</h4>
                    </button>
                </div>
            </div>
        </div>
    </transition>
</script>
<script type="text/x-template" id="cluster-template">
    <div class="context" >
        <div class="header">
            <i class="far fa-cubes"></i>
            <h3>Clusters</h3>
        </div>
        <node-container
            v-bind:id="'coordinators'"
            title="Coordinators"
            v-bind:nodes="coordinators"
            v-bind:needSpinner="false"
            v-bind:ref="'coordinators'">
        </node-container>
        <node-container
            v-bind:id="'neighbors'"
            title="Neighbors"
            v-bind:nodes="neighbors"
            v-bind:needSpinner="true"
            v-bind:ref="'neighbors'">
        </node-container>
        <item-context-menu
            v-bind:id="'item-action-menu'"
            v-bind:options="actionMenuOptions"
            v-bind:ref="'itemActionMenu'"
            v-on:expand-cluster="expandCluster"
            v-on:open-detail="openDetail">
       </item-context-menu>
        <node-detail
            v-bind:id="'node-detail'"
            v-bind:ref="'detailModal'">
        </node-detail>
    </div>
</script>
<script type="text/x-template" id="data-template">
    <div class="context" >
        <div class="header">
            <i class="far fa-chart-network"></i>
            <h3>Data</h3>
        </div>
    </div>
</script>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://www.brypt.com/js/components.js"></script>
