<div class="tm-card-detail">
    <div class="header">
        <!-- <img src="../assets/{{image}}" alt=""> -->
    </div>
    <div class="content">
        <h4>{{name}}</h4>
        <p class="description">
            {{description}}
        </p>
    </div>
    <div class="footer">
        <div class="wrapper btn">
            <a class="" href="{{links.linkedin}}"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="wrapper btn">
            <a class="" href="{{links.github}}"><i class="fab fa-github"></i></a>
        </div>
        <div class="wrapper btn">
            <a class="" href="{{links.email}}"><i class="far fa-envelope"></i></a>
        </div>
    </div>
</div>
